@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    width: 30%;
    margin: auto;
    margin-top: 20px;
}

.content {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #134f77;
    font-size: 32px;
}

p {
    color: #141414;
    font-size: 16px;
}
input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
.btn{
    background-color: #000000; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
   
    
  }
.qr-code {
    margin-top: 20px;
}

.qr-code{
    display: none;
}
.displayqr{
    display: block;
    margin-top: 20px;
}
